<!-- my_robot.launch -->

<launch>

  <!-- Activate the audio and video recorder -->
  <node name="record_audio" pkg="sensors" type="audio_recorder.py" output="screen">
    <param name="id" value="$(arg id)" />
  </node>

  <node name="image_saver" pkg="sensors" type="video_recorder.py" output="screen">
    <param name="id" value="$(arg id)" />
  </node>
  <!-- Activate Chatgpt Node-->
  <node name="gpt_server" pkg="gpt_server" type="gpt4_server.py" output="screen" />
  <!-- Activate the whole System-->
  <node name="gpt_research" pkg="gpt_research" type="main.py" output="screen">
  <param name="id" value="$(arg id)" />
  

</launch>


