<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5e" >

  <!-- common stuff -->
  <xacro:include filename="$(find xacro)/xacro $(find test_urdf)/urdf/arms/ur_configs/left_arm_config.gazebo.xacro" />

  <!-- ur5e -->
  <xacro:include filename="$(find xacro)/xacro $(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="ur5e_transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:ur5e_robot prefix="left_arm/" joint_limited="false"
                    transmission_hw_interface="$(arg ur5e_transmission_hw_interface)"
  />

</robot>
