<?xml version="1.0"?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="4 2 0.001"/>
      </geometry>
      <origin xyz="0 0 -0.03" rpy="0 0 0"/>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <box size="4 2 0.001"/>
      </geometry>
      <origin xyz="0 0 -0.03" rpy="0 0 0"/>
    </collision>
  </link>

  <!-- Arms -->
  <!-- right_arm -->
  <xacro:include filename="$(find xacro)/xacro $(find test_urdf)/urdf/arms/right_ur_arm.urdf.xacro" />
  <joint name="right_arm_joint" type="fixed">
    <origin xyz="-1.5 -0.5 -0.025" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="right_arm/base_link" />
  </joint>

  <!-- center_arm -->
  <xacro:include filename="$(find xacro)/xacro $(find test_urdf)/urdf/arms/center_ur_arm.urdf.xacro" />
  <joint name="center_arm_joint" type="fixed">
    <origin xyz="0 0.5 -0.025" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="center_arm/base_link" />
  </joint>

  <!-- left_arm -->
  <xacro:include filename="$(find xacro)/xacro $(find test_urdf)/urdf/arms/left_ur_arm.urdf.xacro" />
  <joint name="left_arm_joint" type="fixed">
    <origin xyz="0.5 -0.5 -0.025" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="left_arm/base_link" />
  </joint>

</robot>
