<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  
  <!-- startup simulated world -->
  <include file="$(find xacro)/xacro $(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find xacro)/xacro $(find test_urdf)/launch/model.launch">
    <!-- <arg name="limited" value="$(arg limited)"/> -->
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

  <group ns="right_arm">
    <!-- start this controller -->
    <param name="tf_prefix" type="string" value="right_arm" />
    <include file="$(find xacro)/xacro $(find ur_e_gazebo)/launch/controller_utils.launch"/>

    <rosparam file="$(find xacro)/xacro $(find test_urdf)/controller/right_arm_controller_ur5e.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn right_arm_controller" respawn="false" output="screen"/>

    <!-- load other controllers -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load right_joint_group_position_controller" />
  </group>

  <group ns="left_arm">
    <param name="tf_prefix" type="string" value="left_arm" />
    <include file="$(find xacro)/xacro $(find ur_e_gazebo)/launch/controller_utils.launch"/>

    <!-- start this controller -->
    <rosparam file="$(find xacro)/xacro $(find test_urdf)/controller/left_arm_controller_ur5e.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn left_arm_controller" respawn="false" output="screen"/>

    <!-- load other controllers -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load left_joint_group_position_controller" />
  </group>

  <group ns="center_arm">
    <param name="tf_prefix" type="string" value="center_arm" />
    <include file="$(find xacro)/xacro $(find ur_gazebo)/launch/controller_utils.launch"/>
    <!-- start this controller -->

    <rosparam file="$(find xacro)/xacro $(find test_urdf)/controller/center_arm_controller_ur3.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn center_arm_controller" respawn="false" output="screen"/>

    <!-- load other controllers -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load center_joint_group_position_controller" />
  </group>

</launch>
